<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1, shrink-to-fit=no" name="viewport">
    <meta content="" name="description">
    <meta content="" name="author">
    <title>Position Dashboard</title>
    <link crossorigin="anonymous" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" rel="stylesheet">
    <link href="/login.css" rel="stylesheet" type="text/css"/>
    <link href="/all.css" rel="stylesheet" type="text/css"/>
</head>
<body>

<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="/home"><img alt="portly" src="/portly_transparent_100x40.png"></a>
    <a class="nav-link active" href="/home">Home</a>
    <a class="nav-link" href="/login" sec:authorize="!isAuthenticated()">Anmelden</a>
    <a class="nav-link" href="/registration" sec:authorize="!isAuthenticated()">Registrieren</a>


    <a class="nav-link" href="/home/dashboard" sec:authorize="isAuthenticated()">Dashboard</a>
    <a class="nav-link" href="/logout" sec:authorize="isAuthenticated()">Abmelden</a>
</nav>

<div class="d-flex" id="wrapper">
    <!-- Sidebar -->
    <div class="bg-light border-right" id="sidebar-wrapper">
        <div class="list-group list-group-flush">
            <a class="list-group-item list-group-item-action bg-light" href="/home/adminDashboard"><i
                    class="fas fa-bars"></i>
                Angebotsanfragen</a>
            <a class="list-group-item list-group-item-action bg-light" href="#"><i class="fas fa-user"></i>
                Nachunternehmer-Katalog</a>
            <a class="list-group-item list-group-item-action bg-light" href="#"><i class="fas fa-info-circle"></i>
                Aktive Aufträge</a>
            <a class="list-group-item list-group-item-action bg-light" href="/admin/positionen"><i
                    class="fas fa-question-circle"></i>
                Gehwegabenkung LV</a>
        </div>
    </div>

    <!-- Page Content -->
    <div id="page-content-wrapper">

        <div class="container">


            <div class="container-fluid">
                <h1 class="mt-4"><span class="blaueSchrift"><i class="fas fa-book"></i></span> Wilkommen, Admin!</h1>
                <p>Hier können Sie das Leistungsverzeichnis zur Gehwegabsenkung bearbeiten.</p>
            </div>


            <div class="container">


                <a href="/admin/positionen">Fertig</a>

                <table class="table">
                    <thead>
                    <tr>
                        <th scope="col">Ordnungsnummer</th>
                        <th scope="col">Kurztext</th>
                        <th scope="col">Menge</th>
                        <th scope="col">Einheit</th>
                        <th scope="col">Preis (Euro)</th>
                        <th scope="col">Speichern</th>


                    </tr>
                    </thead>

                    <tbody>

                    <tr th:each="position : ${positionen}">
                        <form action="/admin/positionenEdit" method="post" th:object="${positionPreisWrapper}">

                            <td><span th:text="${position.ordnungsnummer}"></span></td>
                            <td th:text="${position.kurztext}"></td>
                            <td th:text="${position.menge}"></td>
                            <td th:text="${position.einheit}">Euro</td>
                            <td><input size="8" th:attr="value = ${position.preis}" th:id="positionspreis"
                                       th:name="positionpreis" type="text">
                                <input size="8" th:attr="value = ${position.ordnungsnummer}"
                                       th:id="positionordnungsnummer" th:name="positionordnungsnummer" type="hidden">
                            </td>
                            <td>
                                <button class="btn" type="submit"><span class="blaueSchrift"><i
                                        class="fas fa-save fa-2x"></i></span></button>
                            </td>
                        </form>


                    </tr>
                    </tbody>
                </table>


            </div>
        </div>
    </div>
    <!-- /#page-content-wrapper -->

</div>

</body>
</html>