<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1, shrink-to-fit=no" name="viewport">
    <meta content="" name="description">
    <meta content="" name="author">
    <title>User Dashboard</title>
    <link crossorigin="anonymous" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" rel="stylesheet">
    <link href="/login.css" rel="stylesheet" type="text/css"/>
    <link href="/all.css" rel="stylesheet" type="text/css"/>
</head>
<body>


<div th:replace="fragmentheader::header"></div>


<div class="d-flex" id="wrapper">
    <!-- Sidebar -->
    <div th:replace="fragmentsidebar :: adminSidebar">...</div>

    <!-- Page Content -->
    <div id="page-content-wrapper">

        <div class="container shadow p-3 mt-4 mb-5  rounded ">
            <h1 style="color: dodgerblue"class="mt-4"><i class="fas fa-id-card-alt"></i> Angebotsanfragen</h1>
            <hr>
            <ul>
                <li> <p>Hier werden alle Angebotsanfragen,die von einem Kunden erstellt werden angezeigt. </p></li>
                <li><p>Diese Seite dient zur Übersicht sowie zur Angebots erstellung</p></li>
                <li><p>Wenn die Aktion "Angebot erstellen" ausgeführt wird, sammelt ein Algorithmus die verschiedenen Informationen zum Bauvorhaben
                    und gleicht diese mit den verschiedenen Positionen ab, welche sich unter dem Menüunterpunkt Leistungsverzeichnis befinden.
                </p></li>
                <li><p>Die Preise die im Leistungsverzeichnis gespeichert wurden, werden zwar übernommen aber können während der Erstellung des Angebots geändert werden</p></li>
            </ul>
        </div>

        <div class="container baumodule">


        <table class="table shadow p-3 mb-5  rounded" >
            <thead class="tablesBlue">
            <tr>
                <th scope="col">Status</th>
                <th scope="col">Name</th>
                <th scope="col">Email</th>
                <th scope="col">Telefon</th>
                <th scope="col">Gehweg</th>
                <th scope="col">Aktion</th>
                <th scope="col">Aktion</th>
                <th scope="col">Details</th>


            </tr>
            </thead>
            <tbody>
            <tr th:each="bestellung : ${bestellungen}">
                <td> <span style="color: orangered;" th:unless="${bestellung.status}">
                                              <i class="fas fa-minus-circle"></i>
                                        </span>
                    <span style="color: limegreen;" th:if="${bestellung.status}">
                                              <i class="fas fa-check"></i>
                                        </span></td>
                <td th:text="${bestellung.name}">Euro</td>
                <td th:text="${bestellung.email}"></td>
                <td th:text="${bestellung.telefon}"></td>
                <td><span th:text="${bestellung.gehwegm2}"></span> m2</td>
                <td><a  th:href="'/admin/createAngebot/'+${bestellung.id}"><button class="btn btn-dark" th:disabled="${bestellung.status}">Angebot erstellen</button></a>
                </td>
                <td><a style="color:orange" th:href="@{'/admin/vergabe/' + ${bestellung.id}}"><i class="fas fa-check"></i></a></td>
                <td><a th:href="@{'/home/dashboard/' + ${bestellung.id}}"><span style="color:dodgerblue"><i
                        class="fas fa-info-circle fa-2x"></i></span></a></td>
            </tr>
            </tbody>
        </table>
        </div>
    </div>
    <!-- /#page-content-wrapper -->

</div>

</body>
</html>