<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<footer th:fragment="header">

    <nav class=" nav navbar bg-dark listebuendig" >

        <div class="mr-auto text-white mt-3 mr-3 " style="margin-left:20%">
            <h5>Kontakt:</h5>
            <small>
                <ul >
                    <li>Teststrasse 44</li>
                    <li>41199 Mönchengladbach</li>
                    <li>Telefon: 012345678</li>
                </ul>

            </small>
        </div>

        <div class="mr-auto text-white mt-3 mr-3">
            <h5>Links:</h5>
            <small>
                <ul>
                    <li><a href="/home">Startseite</a></li>
                    <li><a href="/registration">Registrieren</a></li>
                </ul>

            </small>
        </div>

        <div class="mr-auto text-white mt-3 mr-3">
            <h5>Partner-Unternehmen:</h5>
            <small>
                <ul>
                    <li>Kueppers GmbH</li>
                    <li>Test Gmbh</li>
                </ul>

            </small>
        </div>

        <p class="ml-auto"><small class="text-white-50">© Portly GmbH. All rights reserved.</small></p>

    </nav>
</footer>
</body>
</html>