<!DOCTYPE html>
<html lang="en">


<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="ie=edge" http-equiv="X-UA-Compatible">

    <link crossorigin="anonymous" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" rel="stylesheet">
    <link href="/login.css" rel="stylesheet" type="text/css"/>
    <link href="/all.css" rel="stylesheet" type="text/css"/>
    <title>Gehwegabsenkung</title>

</head>
<body class="homehintergrund">

<div th:replace="fragmentheader :: header">...</div>




            <div class="container" style="margin-top: 5%">


                <h1 class="display-4" style="color: white">

                    Informationen zu Ihrem Bauvorhaben.
                </h1>
                <br>
                <br>
                <br>
                <br>
                <p style="color: white"class="lead">Hier brauchen wir von Ihnen einige Informationen zu Ihrem Bauvorhaben. <br>
                    Dies erleichtert uns Ihnen ein Angebot zu unterbreiten und verschnellert den Prozess der Angebotserstellung sehr.


                </p>

                <form action="/home/gehwegabsenkung3" enctype="multipart/form-data" method="post"
                      th:object="${gehwegInformationDto}">

                    <div style="color: white" class="form-group row">
                        <div class="col-sm-4">Um das Bauvorhaben durchzuführen muss Ihnen durch die Gemeinde eine Freigabe erteilt worden sein. Diese müssen sie hier hochladen.</div>
                        <div class="col-sm-8">
                            <div class="form-check">
                                <input class="custom-file-input" id="genehmigung" name="genehmigung" type="file">
                                <label class="custom-file-label" for="genehmigung" id="genehmigunglabel"></label>
                                <div th:if="${#fields.hasErrors('genehmigung')}">Bitte laden Sie eine Datei hoch!</div>

                            </div>
                        </div>
                    </div>

                    <div style="color: white" class="form-group row">
                        <div class="col-sm-4">Besitzen Sie einen Vorgarten?</div>
                        <div class="col-sm-8">
                            <div class="form-check">
                                <input class="form-check-input" id="gridCheck2" th:field="*{vorgarten}" type="checkbox"
                                       value="ja">
                                <label class="form-check-label" for="gridCheck2">
                                    Ja
                                </label>
                            </div>
                        </div>
                    </div>

                    <div style="color: white" class="form-group row">
                        <div class="col-sm-4">Welche Hindernisse sind in dem Bereich der Gehwegabsenkung vorhanden?
                        </div>
                        <div class="col-sm-8">
                            <div class="form-check">
                                <input class="form-check-input" id="gridCheck3" name="hindernis" type="checkbox"
                                       value="Laterne">
                                <label class="form-check-label" for="gridCheck3">
                                    Laterne
                                </label>
                            </div>

                            <div class="form-check">
                                <input class="form-check-input" id="gridCheck4" name="hindernis" type="checkbox"
                                       value="Kappe">
                                <label class="form-check-label" for="gridCheck4">
                                    Wasserkappe/Gaskappe
                                </label>
                            </div>

                            <div class="form-check">
                                <input class="form-check-input" id="gridCheck5" name="hindernis" type="checkbox"
                                       value="Poeller">
                                <label class="form-check-label" for="gridCheck5">
                                    Pöller
                                </label>
                            </div>
                        </div>
                    </div>

                    <div style="color: white"  class="form-group row">
                        <div class="col-sm-4">Sonstige Anmerkungen?</div>
                        <div class="col-sm-8">
                            <div class="form-check">
                                <input class="form-check-input" id="gridCheck6" name="anmerkung" size="50" type="text">

                                <label class="form-check-label" for="gridCheck6">


                                </label>

                            </div>
                        </div>
                    </div>


                    <div style="color: white" class="form-group row">
                        <div class="col-sm-4">Wir benötigen von ihnen Bilder von ihrem derzeitigen Gehweg. Am besten Sie machen 1-2 Bilder in Frontansicht zum Haus hin. Und 1-2 Bilder längs dem Bürgersteig entlang</div>
                        <div class="col-sm-8">
                            <div class="form-check">
                                <input class="custom-file-input" id="gehwegbilder" multiple name="gehwegbilder" required
                                       type="file">
                                <label class="custom-file-label" for="gehwegbilder"
                                       id="gehwegbilderlabel">Durchsuchen</label>

                            </div>
                        </div>
                    </div>


                    <p  class="lead" style="margin-top:15%"> Damit wir Ihnen schnell und effizient ein Angebot machen können, benötigen wir die
                        Maße ihres Gehwegs. <br>
                        Ihr Gehweg muss nach Gesetz über mindestens 7.0 Meter Laenge abgesenkt werden.
                        Hier interessieren uns folgende Maße:
                    </p>

                    <div class="form-group row">
                        <div class="col-sm-4">Breite des Gehwegs in Zentimetern</div>
                        <div class="col-sm-4">
                            <div class="form-check">
                                <input class="form-check-input" id="gridCheck10" name="gehweglaenge" value="700"
                                       size="6"
                                       type="text">
                            </div>
                        </div>
                        <div class="col-sm-4"><img alt="portly" src="/gehweg_breite_info.png"></div>
                    </div>

                    <div class="form-group row">
                        <div class="col-sm-4">Breite des Gehwegs in Zentimetern</div>
                        <div class="col-sm-4">
                            <div class="form-check">
                                <input class="form-check-input" id="gridCheck7" name="gehwegbreite" placeholder="cm"
                                       size="6"
                                       type="text">
                            </div>
                        </div>
                        <div class="col-sm-4"><img alt="portly" src="/gehweg_breite_info.png"></div>
                    </div>

                    <hr>

                    <p class="lead"> Desweiteren müssen wir wissen was für eine Oberfläche ihr Gehweg besitzt.
                    </p>

                    <div class="form-group row">
                        <div class="col-sm-4">Laenge x Breite der Gehwegplatten in cm</div>
                        <div class="col-sm-2">
                            <div class="form-check">
                                <input class="form-check-input" id="gridCheck8" name="plattenlaenge"
                                       placeholder="Laenge(cm)"
                                       size="10" type="text">

                            </div>
                        </div>
                        <div class="col-sm-2">
                            <div class="form-check">

                                <input class="form-check-input" id="gridCheck9" name="plattenbreite"
                                       placeholder="Breite (cm)"
                                       size="10" type="text">
                            </div>
                        </div>
                        <div class="col-sm-4"><img alt="platte" src="/platte_info.png"></div>
                    </div>


                    <div class="form-group row">
                        <div class="col-sm-10"></div>
                        <div class="col-sm-2"><input class="btn btn-primary" type="submit" value="Angebot anfragen">
                        </div>

                    </div>


                </form>

                <br>

            </div>

            <div style="height:20%">

            </div>



<script crossorigin="anonymous"
        integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
        src="https://code.jquery.com/jquery-3.4.1.slim.min.js"></script>
<script crossorigin="anonymous"
        integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
        src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
<script crossorigin="anonymous"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"></script>

<script>
    var bilder = document.getElementById('gehwegbilder');
    var text = document.getElementById('gehwegbilderlabel');
    bilder.addEventListener('change', showFileName);

    function showFileName(event) {

        var input = event.srcElement;
        var filename = "";
        for (var i = 0; i < input.files.length; i++) {
            filename += input.files[i].name + '; ';
        }
        text.textContent = filename;

    }


    var genehmigung = document.getElementById('genehmigung');
    var genehmigunglabel = document.getElementById('genehmigunglabel');
    genehmigung.addEventListener('change', showSingelFilename);

    function showSingelFilename(event) {

        var input = event.srcElement;
        var filename = input.files[0].name;
        genehmigunglabel.textContent = filename;

    }
</script>
</body>
</html>