<!DOCTYPE html>
<html lang="en">


<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="ie=edge" http-equiv="X-UA-Compatible">

    <link crossorigin="anonymous" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" rel="stylesheet">
    <link href="/login.css" rel="stylesheet" type="text/css"/>
    <link href="/all.css" rel="stylesheet" type="text/css"/>
    <script src="https://unpkg.com/scrollreveal"></script>

    <title>Gehwegabsenkung</title>

</head>
<body class="homehintergrund">



<div th:replace="fragmentheader :: header">...</div>




    <!-- Page Content -->

            <div class="container eyecatcher "style="margin-top:10%;">

                <h3 class="display-4" style="color: white">
                    Die Gehwegabsenkung.

                </h3>
                <hr class="trennlinie">

                <br>

                <ul id="gehwegliste" class="lead">

                    <li>Damit wir ein <b>Angebot für Sie</b> erstellen können, brauchen wir zunächst ein paar
                        Informationen von Ihnen, da sich <b>jedes Bauprojekt unterscheidet</b></li>
                    <li>Diese Daten werden vorläufig bis das Projekt abgeschlossen ist auf Portly's Datenbank
                        gespeichert.</li>
                    <li>Aus den von ihnen <b>eingebenen Daten</b> wird dann ein <b>faires Angebot von unseren Ingenieuren erstellt</b>
                        welches Sie in Ihrem User-Dashboard unter der Spalte Übersicht finden können.</li>
                    <li>Hierbei handelt es sich  um ein <b>unverbindliches Angebot was wir Ihnen kostenlos erstellen</b>, wie Sie dann mit dem Angebot weiterverfahren,
                        bleibt Ihnen überlassen.</li>
                    <li>Damit Sie schnellstmöglich Ihr Angebot erhalten müssen Sie allerdings auch eine Kleinigkeit tun.
                        Wir benötigen nämlich die <b>Maße ihres Gewehges</b>, aber keine Angst wir nehmen sie an die Hand während des ausfüllens ihres Formulars. </li>
                    <li><b>Schnappen Sie sich schonmal einen Zollstock und ein Notizblatt!</b></li>

                </ul>

                <br>

                <div class="d-flex"><span class="ml-auto" >
                <a style="color: white;" href="/home/gehwegabsenkung2"><i class="fas fa-arrow-right fa-3x"></i></a>
                 </span>
                </div>
            </div>



            <div class="container" style="height:40%"></div>

            <div th:replace="fragmentfooter :: footer">...</div>


<script>
    ScrollReveal().reveal('.display-4', {delay: 500, duration: 1000, origin: 'left', distance: '300px'});
    ScrollReveal().reveal('.trennlinie', {delay: 500, duration: 1000, origin: 'left', distance: '300px'});

    ScrollReveal().reveal('.lead', {delay: 600, duration: 2000, origin: 'right', distance: '300px'});
    ScrollReveal().reveal('.d-flex', {delay: 700, duration: 2000, origin: 'left', distance: '800px'});


</script>

<script crossorigin="anonymous"
        integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
        src="https://code.jquery.com/jquery-3.4.1.slim.min.js"></script>
<script crossorigin="anonymous"
        integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
        src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
<script crossorigin="anonymous"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"></script>
</body>
</html>