<!DOCTYPE html>
<html lang="en">


<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="ie=edge" http-equiv="X-UA-Compatible">

    <link crossorigin="anonymous" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" rel="stylesheet">
    <link href="/login.css" rel="stylesheet" type="text/css"/>
    <link href="/all.css" rel="stylesheet" type="text/css"/>
    <title>Gehwegabsenkung</title>

</head>
<body class="homehintergrund">

<div th:replace="fragmentheader :: header">...</div>



            <div class="container" style="margin-top:10%;color:white">


                <h1 class="display-4" style="color: white">
                    Ihr Persönliches Bauvorhaben.
                </h1>
                <hr>
                <br> <br>

                <p class="lead">Wo sollen wir ihr Bauvorhaben durchführen?</p>

                <form  action="/home/gehwegabsenkung2" method="post" th:object="${bauvorhabenAdresseDto}">

                    <div class="form-group row">
                        <div class="col-sm-4"><b>Straße, Hausnummer:</b></div>
                        <div class="col-sm-4">
                            <div class="form-check">
                                <input class="form-check-input" id="strasse_hausnummer" name="strasse_hausnummer"
                                       placeholder="Musterstrasse 123" size="30" th:field="*{strasse_hausnummer}"
                                       type="text">
                            </div>

                        </div>

                    </div>

                    <div class="form-group row">
                        <div class="col-sm-4"><b>Stadt, Postleitzahl:</b></div>
                        <div class="col-sm-4">
                            <div class="form-check">
                                <input class="form-check-input" id="stadt_plz" name="stadt_plz"
                                       placeholder="Stadt 41199" size="30" th:field="*{stadt_plz}" type="text">
                            </div>

                        </div>


                    </div>
                    <br>
                    <div class="form-group row">
                        <div class="col-sm-4"></div>
                        <div class="col-sm-8"><input class="btn btn-light" onclick="activateLink()" type="submit"
                                                     value="Fertig">
                        </div>

                    </div>


                    <div class="alert alert-primary " role="alert"
                         th:if="${#fields.hasErrors('strasse_hausnummer')}">
                        Das Feld Strasse,Hausnummer darf nicht leer bleiben.
                    </div>
                    <div class="alert alert-primary" role="alert" th:if="${#fields.hasErrors('stadt_plz')}">
                        Das Feld Stadt,Postleitzahl darf nicht leer bleiben.
                    </div>

                </form>

                <br>

                <div class="d-flex">
                    <span>
                        <a style="color: white" href="/home/gehwegabsenkung"><i class="fas fa-arrow-left fa-3x"></i></a>

                    </span>

                </div>


            </div>
<div style="height:40%">

</div>

<div th:replace="fragmentfooter :: footer">...</div>



<script crossorigin="anonymous"
        integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
        src="https://code.jquery.com/jquery-3.4.1.slim.min.js"></script>
<script crossorigin="anonymous"
        integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
        src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
<script crossorigin="anonymous"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"></script>
</body>
</html>