<!DOCTYPE html>
<html lang="en" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">


<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <link crossorigin="anonymous" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" rel="stylesheet">
    <link href="/login.css" rel="stylesheet" type="text/css"/>
    <title>Portly Login</title>

</head>

<body>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="/home"><img alt="portly" src="/portly_transparent_100x40.png"></a>
    <a class="nav-link active" href="/home">Home</a>

    <a class="nav-link" href="/login" sec:authorize="!isAuthenticated()">Anmelden</a>
    <a class="nav-link" href="/registration" sec:authorize="!isAuthenticated()">Registrieren</a>

    <a class="nav-link" href="/home/dashboard" sec:authorize="isAuthenticated()">Dashboard</a>
    <a class="nav-link" href="/login" sec:authorize="isAuthenticated()">Abmelden</a>
</nav>


<div class="container h-100 ">
    <div class="row h-100 justify-content-center align-items-center ">
        <div class="col-4" id="logo">
            <img alt="logo" src="/portly_transparent_300x120.png">
            <form method="post">
                <div class="form-group">
                    <label for="userID">Benutzer-ID</label>
                    <input class="form-control" id="userID" name="username">
                    <small class="form-text text-muted" id="userIdHelp">Geben Sie hier ihre Benutzer-ID ein</small>
                </div>
                <div class="form-group">
                    <label for="exampleInputPassword1">Passwort</label>
                    <input class="form-control" id="exampleInputPassword1" name="password" type="password">
                </div>
                <input class="btn btn-primary" type="submit" value="Anmelden">
            </form>
        </div>


    </div>

</div>

<script crossorigin="anonymous"
        integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
        src="https://code.jquery.com/jquery-3.4.1.slim.min.js"></script>
<script crossorigin="anonymous"
        integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
        src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
<script crossorigin="anonymous"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"></script>
</body>
</html>