<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">


<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <link crossorigin="anonymous" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" rel="stylesheet">
    <link href="/login.css" rel="stylesheet" type="text/css"/>
    <title>Registration</title>

</head>

<body>
<div th:replace="fragmentheader :: header">...</div>

<div class="d-flex justify-content-center">

</div>
<div class="container  shadow p-3 mb-5  rounded " style="margin-top:10%">
    <form action="/registration" method="post" th:object="${userDto}">
        <div class="row ">

            <div class="col-4" style="padding-top:15%;">
                <div><img alt="logo" src="/portly_transparent_300x120.png"></div>

            </div>

            <div class="col-4" id="logo">

                <h4 class="blaueSchrift">Benutzer-Information</h4>

                <div class="form-group">
                    <label for="vornameId">Vorname:</label>
                    <input class="form-control" id="vornameId" th:field="*{vorname}">
                    <small class="form-text text-muted" id="vornameIdHelp">Geben Sie hier ihren Vornamen ein</small>
                    <div class="alert alert-primary" role="alert" th:if="${#fields.hasErrors('vorname')}">
                        Vorname nicht valide
                    </div>


                </div>
                <div class="form-group">
                    <label for="nachnameId">Nachname:</label>
                    <input class="form-control" id="nachnameId" th:field="*{nachname}">
                    <small id="nachnameIdHelp" class="form-text text-muted">Geben Sie hier ihren Nachnamen ein</small>
                    <div class="alert alert-primary" role="alert" th:if="${#fields.hasErrors('nachname')}">
                        Nachname nicht valide
                    </div>

                </div>

                <div class="form-group">
                    <label for="phonenumberId">Telefon:</label>
                    <input class="form-control" id="phonenumberId" th:field="*{phonenumber}">
                    <small class="form-text text-muted" id="phonenumberIdHelp">Geben Sie hier ihre Telefonnummer
                        ein</small>
                    <div class="alert alert-primary" role="alert" th:if="${#fields.hasErrors('phonenumber')}">
                        Telefonnummer nicht valide
                    </div>
                </div>

                <div class="form-group">
                    <label for="emailId">Email:</label>
                    <input class="form-control" id="emailId" th:field="*{email}">
                    <small id="emailHelpId" class="form-text text-muted">Geben Sie hier ihre Email ein</small>
                    <div class="alert alert-primary" role="alert" th:if="${#fields.hasErrors('email')}">
                        Email nicht valide oder bereits vergeben!
                    </div>
                </div>

                <div class="form-group">
                    <label for="exampleInputPassword1">Passwort</label>
                    <input type="password" class="form-control" id="exampleInputPassword1" th:field="*{password}">
                    <div class="alert alert-primary" role="alert" th:if="${#fields.hasErrors('password')}">
                        Passwort muss <b>insgesamt mindestens 6 Zeichen</b> sowie Groß- und Kleinbuchstaben
                        enthalten.<br>
                        Ausserdem sollte auch <b>ein Sonderzeichen</b> sowie <b>eine Zahl</b> mit enthalten sein.
                    </div>
                </div>


            </div>

            <div class="col-4">
                <h4 class="blaueSchrift">Anschrift</h4>

                <div class="form-group">
                    <label for="strasse_hausnummerId">Strasse und Hausnummer:</label>
                    <input class="form-control" id="strasse_hausnummerId" th:field="*{strasse_hausnummer}">
                    <small class="form-text text-muted" id="strasseHelp">Geben sie hier ihre Strasse und Hausnummer
                        ein</small>
                    <div class="alert alert-primary " role="alert" th:if="${#fields.hasErrors('strasse_hausnummer')}">
                        Eingabe nicht valide
                    </div>


                </div>
                <div class="form-group">
                    <label for="stadt_plzId">Strasse und Plz:</label>
                    <input class="form-control" id="stadt_plzId" th:field="*{stadt_plz}">
                    <small class="form-text text-muted" id="stadt_plzIdHelp">Geben Sie hier ihre Stadt und ihre
                        Postleitzahl an</small>
                    <div class="alert alert-primary" role="alert" th:if="${#fields.hasErrors('stadt_plz')}">
                        Eingabe nicht valide
                    </div>

                </div>
                <button class="btn btn-primary" type="submit">Registrieren</button>


            </div>


        </div>
    </form>

</div>

<footer>

</footer>

<script>
    var telefon = document.getElementById('phonenumberId');
    telefon.value = '';
</script>
<script crossorigin="anonymous"
        integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
        src="https://code.jquery.com/jquery-3.4.1.slim.min.js"></script>
<script crossorigin="anonymous"
        integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
        src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
<script crossorigin="anonymous"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"></script>
</body>
</html>